/* styles.css */
/* Modo Claro */
body.light-mode {
  background-color: #f4f4f4;
  color: #333;
}

/* Modo Oscuro */
body.dark-mode {
  background-color: #121212;
  color: #ddd;
}

/* Contenedor de contenido con un desenfoque sutil para mejorar la legibilidad */
.container {
  backdrop-filter: blur(15px); /* Desenfoque más fuerte */
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro y semitransparente */
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5); /* Sombra sutil para resaltar el contenido */
  max-width: 1200px; /* Limita el tamaño máximo del contenedor */
  margin: 0 auto;
}

/* Estilo para los enlaces de la barra de navegación */
.navbar a {
  color: #e0e0e0;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #fff; /* Color blanco al hacer hover */
}

/* Estilo para formularios y tablas */
form, table {
  margin: 10px auto;
  padding: 1rem;
  width: 80%;
  max-width: 800px;
  background: #222; /* Fondo oscuro para formularios y tablas */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Estilo de los botones */
button {
  padding: 0.7rem 1.2rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Cambio de color al hacer hover */
}

/* Footer - Ajuste de fondo y color */
.footer {
  background-color: rgba(0, 0, 0, 0.9); /* Fondo oscuro con algo de transparencia */
  color: #fff; /* Texto blanco */
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.6); /* Sombra sutil para separar el pie */
}

.footer p {
  margin: 0;
  padding: 0.2rem;
}


  
  